.header-component{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#1a1c1a;
    margin: 40px 0 0 0;
    width: 100%;
}

.title{
    display:flex;
    background-color: #DCBE87;
    width: 100%;
    align-items: center;
    justify-content: center;
}

h1{
    font-weight: 500;
    font-size: 50px;
    border-width: 5px;
    font-family: 'Open Sans';
}

.pfp{
    height: 200px;
    width: 200px;
}

p{
    font-family: 'Open Sans';
    width: 600px;
    font-weight: 400;
    object-fit: cover;
    line-height: 1.5;
}
